.footer {
    padding-bottom: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    .logo-footer {
        text-align: center;
        img {
            height: 25px;
        }
    }
}