$mobile-small: 480px;
$mobile: 640px;
$mobile-max: 767px;
$tablet: 768px;
$tab: 1025px;
$desktop: 1365px;
$xldesktop: 1890px;
$white: #fff;
$black: #000;
$orange: #f47b24;
$copylgt: 'AvenirNextLTProUltLtIt', sans-serif;
$copyreg: 'AvenirNextLTProRegular', sans-serif;
$copymed: 'AvenirNextLTProMedium', sans-serif;
$copdem: 'AvenirNextLTProDemi', sans-serif;