<main class="bgfix" [ngSwitch]="showStep" [style.background]="background" >
  <div class="gradient"></div>
  <div class="error-div">
      <div class="error con headings">
          <h4 *ngIf="!formInputGroup.valid && !submiterror" class="error-text">{{errorMessage}}</h4>
      </div>
  </div>
  
  <div *ngIf="formloaded" [formGroup]="formInputGroup">
      <div *ngFor="let screenItem of formInputGroup.get('screens').controls; let i = index;let stepfirst = first; let steplast = last">
          <section class="step" *ngSwitchCase="i">
              <div class="wrapper">
                  <div class="head">
                    <h4>{{formloadedForm[i].name}}</h4>
                  </div>
                  <div class="main">
                      <form [formGroup]="screenItem" enctype="multipart/form-data">
                        <div *ngFor="let input of formsInputs[i]" class="form-row">
                          <div [formGroup]="screenItem" [ngSwitch]="input.controlType">

                              <!-- <-!-- Type = TextBox (Text/Email/Tel/Color) -- -->
                              <div *ngSwitchCase="'textbox'">
                                  <div *ngIf="checkConditons(input)" class="form-group"  [ngClass]="{'has-danger': !screenItem.controls[input.key].valid && screenItem.controls[input.key].dirty }">
                                      <input [type]="input.type" [formControlName]="input.key" class="form-control" [id]="input.key" [placeholder]="input.label">
                                  </div>
                              </div>

                              <!-- <-!-- Type = M/F Toggle (M/F Toggle) -- -->
                              <div *ngSwitchCase="'M/F Toggle'">
                                  <div *ngIf="checkConditons(input)" class="switch checkboxInput" [ngClass]="{'has-danger': !screenItem.controls[input.key].valid && screenItem.controls[input.key].dirty }">    
                                      <div class="options">
                                          <div class="opt togglewrapper gray">
                                              <span class="option-label">{{input.label}}</span> <input type="checkbox" class="dn" [formControlName]="input.key" [id]="input['key']">
                                              <label [attr.for]="input['key']" class="toggle"><span class="toggle__handler"></span></label>
                                          </div> 
                                      </div>
                                  </div>
                              </div>

                              <div *ngSwitchCase="'Y/N Toggle'">
                                  <div *ngIf="checkConditons(input)" class="switch checkboxInput" [ngClass]="{'has-danger': !screenItem.controls[input.key].valid && screenItem.controls[input.key].dirty }">    
                                      <div class="options">
                                          <div class="opt togglewrapper">
                                              <span class="option-label">{{input.label}}</span> <input type="checkbox" class="dn" [formControlName]="input.key" [id]="input['key']">
                                              <label [attr.for]="input['key']" class="toggle"><span class="toggle__handler"></span></label>
                                          </div> 
                                      </div>
                                  </div>
                              </div>
                              <div *ngSwitchCase="'paragraph'" >
                                <div *ngIf="checkConditons(input)" class="con paragraphs text">
                                    <p *ngIf="input.type =='paragraph'" [innerHTML]="input.label | safeHTML"></p>
                                </div>
                              </div>

                              <div *ngSwitchCase="'canvas'" >
                                <div *ngIf="input.type == 'canvas' && checkConditons(input)" class="canvas-area">
                                    <signature-pad [options]="{'minWidth': 3,'canvasWidth': 520,'canvasHeight': 100,'backgroundColor':'rgb(255,255,255)'}"></signature-pad>
                                    <a class="canvas-clear" (click)="clearSignature(input.canvascount,i,input.key);">Clear</a>
                                    <a class="message-signatur">{{signaturemessage}}</a>
                                    <a class="canvas-save" *ngIf="!savingSignature" (click)="signatureSave(input.canvascount,i,input.key)">Save</a>
                                </div>
                              </div>
                          </div>
                        </div>
                      </form>
                  </div>
              </div>
              <div *ngIf="stepfirst" class="next-step back">
                  <a (click)="goBackToHome()"><img src="assets/images/arrow-right.png" alt=""> CANCEL</a>
              </div>
              <div *ngIf="!stepfirst" class="next-step back">
                  <a (click)="showWhichStep(i-1, true)"><img src="assets/images/arrow-right.png" alt=""> BACK</a>
              </div>
              <div *ngIf="!steplast" class="next-step">
                  <a (click)="showWhichStep(i+1)">NEXT <img src="assets/images/arrow-right.png" alt=""></a>
              </div>
          </section>
      </div>
  </div>                      
</main>
  